*{
    font-family: "JetBrains Mono", monospace;
    text-decoration: none;
    color: black;

}
html {
    scroll-behavior: smooth;
}
@keyframes grow{
  from{
    transform: scale(1);
  }

  to{
    transform: scale(1.05);
  }
}

@keyframes anim{
    from{
        opacity: 0%;
        transform: translateY(100px);
    }
    to{
        opacity:100%;
         transform: translateY(0px);
    }
}
@keyframes fade{
    from{
        opacity: .4;      
    }
    to{
        opacity:1;
    }
}
body{
   background: linear-gradient(
    180deg,
    #1b1b1b,
    #111111,
    #0b0b0b
);
}
a:hover{
    animation: grow 1s forwards;
    text-decoration: underline;
}
.nav{
    transform: translateY(-100%) translate(-50%) translateY(50%) rotate(90deg);
    z-index: 1;
    position: fixed;
    font-size: 20px;
    background-color: white;
    top: 50%;
    left: 30px;
    height:60px;
    width: 80vh;
    display: flex;
    justify-self: start;
    align-items: center;
    justify-content: space-around;
}
.players {
    display: grid;
    padding-bottom: 40px;
    width:200vh;
    height:130vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    border-radius:100px;
    background-color: #161616;
    box-shadow: 2px 2px 40px rgba(255,255,255,0.15), inset 0 0 15px rgba(255, 255, 255, 0.1);
    justify-self: center;
    align-items: center;
    justify-items: center;
}
.player{
    justify-self: center;
    width:162px;
    border-radius:10px;
}  
.descrip{
    margin: 30px;
}
.player1 {
    animation: anim 1.5s ease;
    text-align: end;
    align-items: center;
    text-align: center;
    justify-items: center;
    width: 362px;
    background-color: rgba(255, 209, 216, 0.7);
    box-shadow:0px 0px 20px rgb(252, 193, 202,0.7),inset 0 0 15px rgba(255, 255, 255, 0.3);;
    height: 489px;
    border-radius: 44px;
    border: 1px solid rgb(252, 193, 202,0.7);
    grid-row: span 4 / span 4;
}

.player2 {
    animation: anim 1.5s ease;
    align-items: center;
    text-align: center;
    justify-items: center;
    width: 362px;
    background-color: rgba(255, 243, 77, 0.7);
    box-shadow:0px 0px 20px rgba(255, 243, 77, 0.7),inset 0 0 15px rgba(255, 255, 255, 0.3);;
    height: 489px;
    border-radius: 44px;
    border: 1px solid rgba(255, 243, 77, 0.7);
    grid-row: span 4 / span 4;
}

.player3 {
    animation: anim 1.5s ease;
    align-items: center;
    text-align: center;
    justify-items: center;
    width: 362px;
    background-color: rgba(252, 79, 79, 0.7);
    box-shadow:0px 0px 20px rgba(255, 74, 74, 0.7),inset 0 0 15px rgba(255, 255, 255, 0.1);;
    height: 489px;
    border-radius: 44px;
    border: 1px solid rgba(255, 98, 98, 0.7);
    grid-row: span 4 / span 4;
}

.player4 {
    animation: anim 1.5s ease;
    align-items: center;
    text-align: center;
    justify-items: center;
    width: 362px;
    background: linear-gradient(90deg, red, orange, green,yellow, blue, indigo, violet);
    box-shadow:0px 0px 20px rgb(199, 79, 255),inset 0 0 15px rgba(255, 255, 255, 0.3);
    height: 529px;;
    border-radius: 44px;
    grid-row: span 3 / span 3;
    grid-row-start: 5;

}
.gg{
    color: black;
}
.b{
    color: white;
}
.player5 {
    animation: anim 1.5s ease;
    align-items: center;
    text-align: center;
    justify-items: center;
    width: 362px;
    background-color: rgba(255, 209, 216, 0.7);
    box-shadow:0px 0px 20px rgb(252, 193, 202,0.7),inset 0 0 15px rgba(255, 255, 255, 0.3);;
    height: 529px;
    border-radius: 44px;
    border: 1px solid rgb(252, 193, 202,0.7);
    grid-row: span 3 / span 3;
    grid-row-start: 5;
}

.player6 {
    animation: anim 1.5s ease;
    align-items: center;
    text-align: center;
    justify-items: center;
    width: 362px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow:0px 0px 20px rgba(255, 255, 255, 0.7),inset 0 0 15px rgba(255, 255, 255, 0.4);;
    height: 529px;
    border-radius: 44px; 
    grid-row: span 3 / span 3;
    grid-row-start: 5;
}
        
.news,.sponsors,.topic{
    justify-self: center;
    color:white;
    height:45px;
    border-left: 1px solid white;
     border-right: 1px solid white;
     font-style: italic;
    
}
.events{
    justify-self: center;
    align-self: center;
    align-content: center;
    justify-items: center;
    width:120vh;
    height:650px;
    margin:30px;
    margin-bottom:90px;
    justify-self: center;
    border-radius:100px;
    background-color: #161616;
    box-shadow: 2px 2px 40px rgba(255,255,255,0.15), inset 0 0 15px rgba(255, 255, 255, 0.1);;
}


.bg{
    width:200vh;
    height:110vh;
    padding:15px;
    justify-self: center;
    border-radius:100px;
    background-color: #161616;
    box-shadow: 2px 2px 40px rgba(255,255,255,0.15), inset 0 0 15px rgba(255, 255, 255, 0.1);}



.spons{
    display: flex;
    justify-self: center;
    margin:20px;
}
.card1 {
    display: flex;
    text-align: left; 
    align-items: center;
    padding: 20px 40px;
    width: 748px;
    height: 302px;
    background: rgba(119, 182, 148, 0.5); 
    backdrop-filter: blur(75px) saturate(300%); 
    -webkit-backdrop-filter: blur(15px) saturate(150%);
    border: 1px solid rgba(255, 255, 255, 0.7);
    
    border-radius: 87px;
    
    box-shadow: 
        0 8px 32px 0 rgba(50, 104, 67, 0.9), 
        inset 0 0 15px rgba(255, 255, 255, 0.2); 
    
    overflow: hidden;
}
.card-img {
    height: 90%; 
    margin-right: 30px;
    filter: drop-shadow(0 10px 15px rgba(0,0,0,0.5)); 
}
.img{
    filter: drop-shadow(0 10px 15px rgba(0,0,0,0.5)); 
}
.card1:hover,.card2:hover,.card3:hover,.card4:hover{
    animation: grow 1s  forwards;
}
.jager{
    width: 528px;
}
.cards{
    animation: anim 2s;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 100px;
    justify-self: center;
}
.card2{
    display: flex;
    text-align: center;
    align-items: center;
    padding: 20px 40px;
    width: 748px;
    height: 302px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    background-color: rgba(250, 250, 250, 0.4);
    border-radius:87px;
    grid-column-start: 1;
    box-shadow: 1px 1px 35px  #fffef9,inset 0 0 15px rgba(255, 255, 255, 0.2);;
    justify-content: space-around;
    grid-row-start: 2;
    overflow: hidden;

}
.card3{
    display: flex;
    text-align: center;
    align-items: center;
    padding: 20px 40px;
    width: 748px;
    height: 302px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 1px 1px 35px  #5B5A5A,inset 0 0 15px rgba(255, 255, 255, 0.2);
    background-color: rgba(250, 250, 250, 0.3);
    border-radius:87px;
    grid-column-start: 2;
    grid-row-start: 2;
    
}
.card4{
    display: flex;
    text-align: center;
    align-items: center;
    padding: 20px 40px;
    width: 748px;
    height: 302px;
    box-shadow: 1px 1px 25px  #FF151F,inset 0 0 15px rgba(255, 255, 255, 0.2);
    background-color: rgba(179, 47, 47, 5);
    border-radius:87px;
     grid-column-start: 2;
     border: 1px solid rgba(255, 255, 255, 0.7);
    grid-row-start: 1;
}
.Myslide{
    display: none;
}
.dots{
    margin-bottom:20px;
}
.dot{
    cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.fade{
    animation-name: fade ;
  animation-duration: 1.5s ;
}
.new{
    border-radius: 60px;
}
.text{
    color: white;
    font-size:17px;
    align-self: center;
    justify-self: center;
}